header {
  position: relative;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #3F51B5;
  display: flex;
  justify-content: space-between;
  z-index: 10; }
  header .headerLeft img {
    position: absolute;
    height: 40px;
    left: 50px;
    top: 5px; }
  header .headerLeft h1 {
    position: absolute;
    left: 50px;
    top: 7px;
    margin-top: 0px; }
    header .headerLeft h1 a {
      color: #fff;
      text-decoration: none; }
  header form #search {
    position: relative;
    width: 800px;
    height: 100%;
    margin: 0px 20px;
    display: flex;
    align-items: center; }
    header form #search #searchBox {
      position: relative;
      width: 100%;
      height: 36px;
      outline: 0;
      color: #fff;
      font-size: 13pt;
      box-sizing: border-box;
      padding-left: 60px;
      border: 0px;
      background-color: rgba(0, 0, 0, 0.1); }
      header form #search #searchBox:hover, header form #search #searchBox:focus {
        background-color: rgba(0, 0, 0, 0.16); }
      header form #search #searchBox:not(:placeholder-shown) ~ #deleteSearch {
        display: block; }
    header form #search ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    header form #search #searchLogo {
      position: absolute;
      width: 25px;
      top: 14px;
      left: 18px; }
    header form #search #deleteSearch {
      position: absolute;
      width: 25px;
      right: 18px;
      top: 14px;
      border-radius: 50%;
      z-index: 2;
      display: none;
      cursor: pointer; }
      header form #search #deleteSearch:hover {
        background-color: #E53935; }
  header .headerRight {
    position: relative;
    width: auto;
    height: 100%; }
    header .headerRight #session {
      position: relative;
      width: 60px;
      height: 100%; }
      header .headerRight #session img {
        width: 40px;
        margin-top: 5px;
        height: 40px;
        border-radius: 50%; }

* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif; }

body {
  background-color: #f4f4f4;
  overflow-x: hidden;
  overflow-y: auto; }

main {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../img/wallpaper.jpg);
  background-size: 100%;
  opacity: 0.2; }

section {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10px; }
  section #noResults {
    position: relative;
    margin: 90px auto;
    width: 400px;
    color: #333;
    max-width: 100%;
    padding: 0px 50px;
    box-sizing: border-box;
    font-size: 15pt;
    text-align: center;
    line-height: 1.5em; }
  section a.link {
    outline: 0; }
    section a.link:focus article, section a.link article:hover {
      background-color: rgba(0, 0, 0, 0.18); }
    section a.link article {
      position: relative;
      float: left;
      width: 100%;
      height: 70px;
      padding: 16px;
      margin: 7px 0px;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.1);
      box-sizing: border-box; }
      section a.link article img {
        position: relative;
        float: left;
        width: 40px; }
      section a.link article p {
        position: relative;
        float: left;
        margin: 10px 0px;
        margin-left: 22px;
        font-size: 13pt; }
  section div#editCircle {
    position: fixed;
    width: 60px;
    right: 35px;
    bottom: 25px;
    height: 60px;
    border-radius: 50%;
    background-color: #2196F3;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    -ms-transition: box-shadow 0.2s;
    z-index: 2; }
    section div#editCircle:hover {
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); }
      section div#editCircle:hover:not(.editCircleAnimation) ~ div#editCircleShadow {
        animation: editBtn 1.5s linear infinite; }
    section div#editCircle a {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block; }
    section div#editCircle img {
      position: absolute;
      width: 64%;
      left: 18%;
      top: 18%; }
  section div#editCircleShadow {
    position: fixed;
    width: 60px;
    right: 35px;
    height: 60px;
    bottom: 25px;
    border-radius: 50%;
    background-color: rgba(33, 150, 243, 0.4); }
  section div.editCircleAnimation img {
    animation: editIcon 14s 2s infinite; }
  section div.editCircleAnimation ~ div#editCircleShadow {
    animation: editBtn 2s linear infinite; }

@keyframes editBtn {
  0% {
    width: 60px;
    right: 35px;
    height: 60px;
    bottom: 25px;
    background-color: rgba(33, 150, 243, 0.4); }
  50% {
    width: 90px;
    right: 20px;
    height: 90px;
    bottom: 10px;
    background-color: rgba(33, 150, 243, 0.25); }
  100% {
    width: 60px;
    right: 35px;
    height: 60px;
    bottom: 25px;
    background-color: rgba(33, 150, 243, 0.4); } }
@keyframes editIcon {
  0% {
    transform: rotate(0deg); }
  7% {
    transform: rotate(380deg); }
  14% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }

/*# sourceMappingURL=main.css.map */
